"*":
  core:
    telemetryConsent: "no"
  editor:
    fontSize: 15
  "exception-reporting":
    userId: "703bbfc0-be43-478c-9136-3957e1cb2444"
  "gpp-compiler":
    linuxTerminal: "GNOME Terminal"
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "Folder"
  welcome:
    showOnStartup: false
  "x-terminal":
    spawnPtySettings:
      projectCwd: true
    terminalSettings:
      defaultOpenPosition: "Bottom Dock"
